﻿
@{
    ViewBag.Title = "MyOffer";
    var pages = ViewBag.Pages as List<DIBZ.Common.Model.Page>;
    var gameCollection = ViewBag.GameCollection as List<DIBZ.Common.DTO.GameCatalogModel>;
    var myGames = ViewBag.MyGames as List<DIBZ.Logic.GameCatalog.GameData>;
    var selectedPage = Convert.ToInt32(ViewBag.SelectedPage);
    var PageSize = Convert.ToInt32(ViewBag.pageSize);
    var selectedPageStart = ((selectedPage - 1) * PageSize) + 1;
    var selectedPagelast = selectedPage * PageSize;
}

@section CustomScripts{
    <script>
    function CreateOffer()
        {
            $('#frmCreateOffer').validate();
        if ($('#frmCreateOffer').valid()) {
                var offeredGameIds = $('#gameOffer').val().join(",");
                var offerDescription = $('#offerDescription').val();
                var gameInReturnIds = "";
                if ($('#gameInReturn').val() != null)
                {
                    gameInReturnIds = $('#gameInReturn').val().join(",");
                }
                var isMatch = CompareTwoCommaSeparetedString(offeredGameIds, gameInReturnIds)
                if (isMatch === true) {
                    $('#lblMessage').show();
                    $('#lblMessage').text("You can't select same game in both offered game and game in return.");
                    return false;
                }
                else {
                    $('#btnCreateOffer').prop('disabled', true);
                    console.log(offeredGameIds);

                    $.ajax({
            url: '@Url.Action("CreateOffer", "Offer")',
            type: "POST",
            dataType: "html",
            data: { gameOfferIds: offeredGameIds, offerDescription: offerDescription, gameInReturnIds: gameInReturnIds},
            success: function (data) {
                HideCreateOfferDialog();
                window.location = window.location.href.split("?")[0];
            },
            error: function (data) {
                console.log("failed to fetch data due to some reason please check ajax call.");
            }
                    });
                }
            }
        }

    function CompareTwoCommaSeparetedString(string1, string2) {
        var arr1 = string1.split(",");
        var arr2 = string2.split(",");
        for (var i = 0; i < arr1.length; i++) {
            for (var j = 0; j < arr2.length; j++) {
                if (arr1[i] === arr2[j]) {
                    return true;
                }
            }
        }
        return false;
    }

    function HideCreateOfferDialog() {
        $('.offer-modal').hide();
        $('.offer-modal').removeClass("in");
        $(".modal-backdrop").removeClass("in");
        $(".fade").removeClass("modal-backdrop");
        $("body").removeClass("modal-open");
        $("body").css("padding-right", "");
    }
            function MarkOfferDelete(offerId)
        {
            if (confirm('Are you sure want to delete this offer?'))
            {
                $.ajax({
            url: '@Url.Action("DeleteOffer", "Offer")',
            type: "POST",
            dataType: "html",
            data: { id: offerId },
            success: function (data) {
                window.location = window.location.href.split("?")[0];
                if ($('.dataTables_empty').length > 0) {
                    $('#DataTables_Table_0_info').css("display", "none");
                    $('.dataTables_empty').css("display", "none");
                }
            },
            error: function (data) {
                console.log("failed to fetch data due to some reason please check ajax call.");
            }

        });
            }
        }

        var pathName = window.location.pathname;
        history.replaceState({}, null, pathName);

        $('#pageSizeDropdown').change(function () {
            var pageSize = parseInt($('#pageSizeDropdown option:selected').text());
            var isLatestFirst = $('#sortingDropdown option:selected').val();

            ajaxCall('@Url.Action("MyOffers", "Offer")', { currentPage: 1, pageSize: pageSize, isLatestFirst: isLatestFirst }, function (response) {
                var gridDiv = $(response).find('#myOffersDiv');
                    $('#myOffersDiv').html(gridDiv);

            }, function (fail) {
                alert(fail);
                }, function (error) {
                    alert(error);
                });
            });

            $('#sortingDropdown').change(function () {
                var pageSize = $('#pageSizeDropdown option:selected').text();
                var isLatestFirst = $('#sortingDropdown option:selected').val();

                ajaxCall('@Url.Action("MyOffers", "Offer")', { currentPage: 1, pageSize: pageSize, isLatestFirst: isLatestFirst }, function (response) {
                    var gridDiv = $(response).find('#myOffersDiv');
                    $('#myOffersDiv').html(gridDiv);

                }, function (fail) {
                    alert(fail);
                    }, function (error) {
                    alert(error);
                });
        });

    </script>

}
<div id="MyOffers" class="section-container white-bg">
    <div class="container">

        <div class="row row-space-10 my-game-scroll-container">

            <div class="col-md-10 col-md-offset-1 search-result-header">
                <div class="row">
                    <div class="col-sm-8">
                        <h2 class="text-uppercase">MY OFFERS</h2>
                        <h4>Select which games you would like to swap games within your library for. These offers will then become publically available.</h4>
                    </div>
                    <div class="col-sm-4 p-t-15 text-right">
                        <a class="action-link" href="@Url.Action("CreateOffer","Offer")">
                            Add Offer <i class="fa fa-plus"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-10 col-md-offset-1 m-t-15">
                <div class="page-filters offer clearfix">
                    <label class="pull-left m-t-5">Show: </label>
                    <div class="col-lg-1 col-sm-2 col-xs-5">
                        <select class="form-control" id="pageSizeDropdown">
                            <option value="5" @(5 == ViewBag.PageSize ? "selected='selected'" : "")>5</option>
                            <option value="10" @(10 == ViewBag.PageSize ? "selected='selected'" : "")>10</option>
                            <option value="15" @(15 == ViewBag.PageSize ? "selected='selected'" : "")>15</option>
                        </select>
                    </div>
                    <label class="pull-left m-t-5 m-l-10">Sort By: </label>
                    <div class="col-lg-2 col-sm-3 col-xs-8" id="sortingDropdown">
                        <select class="form-control">
                            <option value="true" @(true == ViewBag.Sorting ? "selected='selected'" : "")>Latest First</option>
                            <option value="false" @(false == ViewBag.Sorting ? "selected='selected'" : "")>Oldest First</option>
                        </select>
                    </div>
                </div>
            </div>

            <div id="myOffersDiv">
                <div class="col-md-10 col-md-offset-1 p-l-15 p-r-15 m-t-15">

                    @foreach (var item in Model)
                    {
                        <div class="swap-container">
                            <div class="col-md-3 offer-img m-b-15">
                                <h4 class="m-b-20">GAME UP FOR DIBZ</h4>
                                <div class="search-item">
                                    <a href="#"><img src="@Url.Action("Index", "Files", new { fileId = item.GameImageId })" alt="" class="img-responsive img-res" /></a>
                                    <p class="game-name">
                                        @item.GameName<br />
                                        <b>@item.GameFormat</b>
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-2 offer-img m-b-15 swap-icon-wrapper">
                                <img src="/Content/assets/img/swap-icon.png" class="img-responsive center-block" alt="">
                            </div>

                            <div class="col-md-3 offer-img m-b-15">
                                <h4 class="m-b-20">DESIRED GAME</h4>
                                <div class="search-item">
                                    <div class="edit_image edit_image2 p-l-14 p-r-14 btn btn-danger p-t-10 p-b-10 pull-right" style="display:none;" onclick=""><i class="fa fa-trash"></i></div>
                                    <a href="#"><img src="@Url.Action("Index", "Files", new { fileId = item.ReturnGameImageId })" alt="" class="img-responsive img-res" /></a>
                                    <p class="game-name">
                                        @item.ReturnGameName<br />
                                        <b>@item.ReturnGameFormat</b>
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-4 col-lg-offset-1 col-lg-3 m-b-15">

                                <h4 class="m-b-20">SWAP SUMMARY</h4>

                                <p><strong>SWAPPING: </strong>@item.GameName</p>
                                <p><strong>CONSOLE: </strong>@item.GameFormat</p>
                                <p><strong>FOR: </strong>@item.ReturnGameName</p>
                                <p><strong>CONSOLE: </strong>@item.ReturnGameFormat</p>
                                <p><strong>DATE: </strong>@item.OfferedTime.ToString("dd/MM/yyyy")</p>

                                <div class="offer-btn-wrap offer-btn-edit">
                                    <a class="btn btn-dark btn-block text-uppercase btn-secondary btn-md" href="@Url.Action("CreateOffer", "Offer", new { offerId = item.OfferId, gameId = item.GameImageId, returnGameId = item.ReturnGameImageId })">Edit Offer</a>
                                </div>

                                <div class="offer-btn-wrap offer-btn-edit">
                                    <button type="button" class="btn btn-pink btn-block text-uppercase btn-secondary btn-md" id="removeOfferBtn" onclick="MarkOfferDelete(@item.OfferId)">Remove Offer</button>
                                </div>
                            </div>
                        </div>
                    }



                </div>
                @if (pages != null && pages.Count > 0)
                {
                    <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing @selectedPageStart to @selectedPagelast of @pages.FirstOrDefault().TotalRecords entries</div>

                    <div class="dataTables_paginate paging_simple_numbers m-b-20" id="DataTables_Table_0_paginate" style="width: 34%">


                        @foreach (var item in pages)
                        {
                            <a class="paginate_button current" type="submit" href="@Url.Action("MyOffers","Offer", new { currentPage = item.CurrentPage, pageSize = item.PageSize, isLatestFirst = ViewBag.Sorting })">@item.Text</a>
                        }

                    </div>
                }
            </div>



            <!-- Game 4 START HERE -->
            <div class="col-md-2 offer-img m-b-15" style="display:none;">
                <a href="#" data-toggle="modal" data-target=".collection-modal"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
            </div>
            <!-- Game 4 END HERE -->
        </div>
        <div class="pager">

        </div>
    </div>
</div>