﻿
@{
    Layout = null;
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- index_fixed_header.html  07:07:57 GMT -->
<head>
    <meta charset="utf-8" />
    <title>DIBZ</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="@Url.Content("~/Content/assets/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/css/animate.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/assets/css/slider-revolution-slider/rs-plugin/css/settings.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/assets/css/slider.css")" rel="stylesheet">
    <!-- ================== END BASE CSS STYLE ================== -->

</head>
<body>
    <!-- BEGIN #page-container -->
    <div class="promo-block" id="promo-block">
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-delay="9400" class="slider-item-1">
                        <img src="@Url.Content("~/Content/assets/img/game1.png")" alt="" data-bgfit="cover" style="opacity:0.4 !important;" data-bgposition="center center" data-bgrepeat="no-repeat">
                        <div class="tp-caption large_text customin customout start"
                             data-x="center"
                             data-hoffset="0"
                             data-y="center"
                             data-voffset="20"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1000"
                             data-start="500"
                             data-easing="Back.easeInOut"
                             data-endspeed="300">
                            <div class="promo-like"><i class="fa fa-gamepad"></i></div>
                            <div class="promo-like-text">
                                <h2>Let's just do it</h2>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing<br> elit amet sed diam nonummy nibh</p>
                            </div>
                        </div>
                        <div class="tp-caption large_bold_white fade"
                             data-x="center"
                             data-y="center"
                             data-voffset="-110"
                             data-speed="300"
                             data-start="1700"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            YOUPLAY -  <span>GAMING</span>  THEME
                        </div>
                        <a href="@Url.Action("Index","Dashboard")" class="tp-caption btn-lg btn-danger"
                           data-x="center"
                           data-y="center"
                           data-voffset="140"
                           data-speed="2000"
                           data-start="1700"
                           data-easing="Power4.easeOut"
                           data-endspeed="500"
                           data-endeasing="Power1.easeIn"
                           data-captionhidden="off"
                           style="z-index: 6">
                            PLAY -  <span>GAMING</span>
                        </a>
                    </li>
                    <li data-transition="fadefromright" data-slotamount="5" data-masterspeed="700" data-delay="9400" class="slider-item-2">
                        <img src="@Url.Content("~/Content/assets/img/game2.png")" alt="slidebg2" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                        <div class="tp-caption large_bold_white"
                             data-x="center"
                             data-y="180"
                             data-speed="2000"
                             data-start="1700"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="off"
                             style="z-index: 6">
                            Extremely <span>Responsive</span> Design
                        </div>
                        <a href="@Url.Action("Index","Dashboard")" class="tp-caption btn-lg btn-danger"
                           data-x="center"
                           data-y="center"
                           data-voffset="50"
                           data-speed="2000"
                           data-start="1700"
                           data-easing="Power4.easeOut"
                           data-endspeed="500"
                           data-endeasing="Power1.easeIn"
                           data-captionhidden="off"
                           style="z-index: 6">
                            PLAY -  <span>GAMING</span>
                        </a>
                    </li>
                    <li data-transition="fade" data-slotamount="5" data-masterspeed="700" data-delay="9400" class="slider-item-3">
                        <img src="@Url.Content("~/Content/assets/img/game3.png")" alt="slidebg3" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">


                        <div class="tp-caption large_text customin customout start"
                             data-x="center" data-hoffset="0"
                             data-y="170"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="600"
                             data-start="1400"
                             data-easing="Power4.easeOut"
                             data-endspeed="600"
                             data-endeasing="Power0.easeIn"
                             style="z-index: 3">
                            CREATE AND MANAGE TEAM MATCHES
                        </div>
                        <div class="tp-caption large_text customin customout start"
                             data-x="center" data-hoffset="0"
                             data-y="bottom" data-voffset="-220"
                             data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:5;scaleY:5;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="600"
                             data-start="1700"
                             data-easing="Power4.easeOut"
                             data-endspeed="600"
                             data-endeasing="Power0.easeIn"
                             style="z-index: 4">
                            John Muir
                        </div>
                        <a href="@Url.Action("Index","Dashboard")" class="tp-caption btn-lg btn-danger"
                           data-x="center"
                           data-y="center"
                           data-voffset="80"
                           data-speed="2000"
                           data-start="1700"
                           data-easing="Power4.easeOut"
                           data-endspeed="500"
                           data-endeasing="Power1.easeIn"
                           data-captionhidden="off"
                           style="z-index: 6">
                            PLAY -  <span>GAMING</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END #page-container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="@Url.Content("~/Content/assets/plugins/jquery/jquery-1.9.1.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/jquery/jquery-migrate-1.1.0.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/plugins/bootstrap/js/bootstrap.min.js")"></script>
    <!--[if lt IE 9]>
        <script src="assets/crossbrowserjs/html5shiv.js"></script>
        <script src="assets/crossbrowserjs/respond.min.js"></script>
        <script src="assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="@Url.Content("~/Content/assets/plugins/jquery-cookie/jquery.cookie.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/js/apps.min.js")"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- Core plugins END (For ALL pages) -->
    <!-- BEGIN RevolutionSlider -->
    <script src="@Url.Content("~/Content/assets/css/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/css/slider-revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/js/revo-ini.js")" type="text/javascript"></script>
    <!-- END RevolutionSlider -->
</body>

<!-- index_fixed_header.html  07:07:57 GMT -->
</html>
