﻿@model List<DIBZ.Logic.Offer.OfferData>
@{
    ViewBag.Title = "View All Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AppUser = (DIBZ.Common.Model.ApplicationUser)ViewData["AppUser"];
}

@section CustomScripts{
<link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/datatables/dataTables.bootstrap.css")">
<link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/datatables/rowReorder.dataTables.min.css")">
<link rel="stylesheet" href="@Url.Content("~/Content/assets/plugins/datatables/responsive.dataTables.min.css")">

<script src="@Url.Content("~/Content/assets/plugins/datatables/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Content/assets/plugins/datatables/dataTables.rowReorder.min.js")"></script>
<script src="@Url.Content("~/Content/assets/plugins/datatables/dataTables.responsive.min.js")"></script>

<script>
    $(function () {
        $('.table').DataTable({
            "scrollX": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "lengthChange": true,
            "columnDefs": [{
                "targets": 'no-sort',
                "orderable": false,
                "order": []
            }],
            //rowReorder: {
            //    selector: 'td:nth-child(2)'
            //},
            responsive: true
        });
    });

    if ('@ViewData["Error"]' != '') {
            //$(".alert-danger").show();

            //setTimeout(function () {
            //    $(".alert-danger").fadeOut("slow")
            //}, 4000);
        $('#alert-modal').addClass("in");
        $('#alert-modal').show();
    }
    function hideAlertPopup() {
        $('#alert-modal').hide();
    }

    function ViewGamerDetail(id)
    {
        debugger;
        console.log("id: "+id);
            
        ajaxCall('@Url.Action("ViewGamerDetail", "Dashboard")', { id: id }, function (resp) {
                   if (resp.IsSuccess === true) {
                       console.log("gamer name: " + resp.GamerNickName);
                       //$(".modal-body #offeredGame").text(resp.OfferedGame);
                       $("#gamerNickName").text(resp.GamerNickName);
                       var imageId = resp.GamerImageId;
                       var source = "/Files/Index?fileId=" + imageId;    /*Url.Action("Index", "Files", new { fileId = @@imageId })*/
                       $("#gamerImageId").attr("src", source);
                       $("#gamer_detail_Proposal").text(resp.Proposal);
                       $("#gamer_detail_NoShows").text(resp.NoShows);
                       $("#gamer_detail_GamesSent").text(resp.GamesSent);

                       $("#gamer_detail_TestFails").text(resp.TestFail);
                       $("#gamer_detail_TestPass").text(resp.TestPass);
                       $("#gamer_detail_Dibz").text(resp.DIBz);

                        }
                }, function (fail) {

                }, function (err) {

                });
        }

    //hide DataTable info when no data in Table
    $(function () {
        if ($('.dataTables_empty').length > 0) {
            $('#DataTables_Table_0_info').css("display", "none");
            $('.dataTables_empty').css("display", "none");
        }
    })

</script>
}
<style>
    .current {
    color: black !important;
    }
    .paginate_button.current:hover {
    color: black !important;
    }
</style>
<div id="page-header" class="section-container page-header-container bg-black">
    <!-- BEGIN page-header-cover -->
    <div class="page-header-cover">
        <img src="@Url.Content("~/Content/assets/img/top-cover.jpg")" alt="">

    </div>
    <!-- END page-header-cover -->
    <!-- BEGIN container -->
    <div class="container">
        <h1 class="page-header"><b>VIEW ALL</b> OFFERS</h1>
    </div>
    <!-- END container -->
</div>

<div class="alert alert-danger" style="display:none;">
    @ViewData["Error"]
</div>

<!-- Banner Slider START HERE -->
<div class="section-container bg-white border-bottom-1">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN row -->
        <div class="row row-space-10">
            <!-- BEGIN col-8 -->
            <div class="col-md-12">
                <div class="checkout-body">
                    <div class="table-responsive">
@if (AppUser == null)
{
    
        <table class="table">
            <thead>
                <tr>
                    <th width="15%" class="vtop text-center">GAME</th>
                    <th width="15%" class="vtop">GAME NAME</th>
                    <th width="15%" class="vtop">OFFERED BY</th>
                    <th width="12%" class="vtop">FORMAT</th>
                    <th width="12%" class="vtop">CATEGORY</th>
                    <th width="12%" class="vtop">CREATED ON</th>
                    <th class="vtop text-center">OFFER RESPONSE</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="@(item.Sequence%2==0 ?"alter-bg" : "alter-bg-odd")" data-dismiss="modal" data-toggle="modal" data-target=".login-modal" style="cursor:pointer">  
                        <td class="cart-product">

                            <img src="@Url.Action("Index","Files",new {fileId= item.GameImageId })" class="img-responsive rounded img-thumbnail img-scratch img-max-width" alt="">
                        </td>
                        <td>@item.GameName</td>
                        <td>@item.NickName</td>
                        <td>@item.GameFormat</td>
                        <td>@item.GameCategory</td>
                        <td>@item.OfferedTimeValue</td>
                        <td class="cart-total text-center">
                            

                        </td>
                    </tr>
                }
            </tbody>
        </table>

}
else
{
    <table class="table">
        <thead>
            <tr>
                <th width="15%" class="vtop text-center">GAME</th>
                <th width="15%" class="vtop">GAME NAME</th>
                <th width="15%" class="vtop">OFFERED BY</th>
                <th width="12%" class="vtop">FORMAT</th>
                <th width="12%" class="vtop">CATEGORY</th>
                <th width="12%" class="vtop">CREATED ON</th>
                <th class="vtop text-center">OFFER RESPONSE</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="@(item.Sequence%2==0 ?"alter-bg" : "alter-bg-odd")">
                    <td class="cart-product">

                        <img src="@Url.Action("Index","Files",new {fileId= item.GameImageId })" class="img-responsive rounded img-thumbnail img-scratch img-max-width" alt="">
                    </td>
                    <td>@item.GameName </td>
                    <td><a class="text-dec-none-hover" href="#" onclick="ViewGamerDetail(@item.AppUserId);" data-toggle="modal" data-target=".gamer-detail-modal">@item.NickName</a></td>
                    <td>@item.GameFormat</td>
                    <td>@item.GameCategory</td>
                    <td>@item.OfferedTimeValue</td>
                    <td class="cart-total text-center">
                        @*@if (AppUser != null)
                            {
                                if (AppUser.Id != item.AppUserId)
                                {
                                    <a href="@Url.Action("AddCounterOffer","CounterOffer",new { id = @item.OfferId})" cl class="btn btn-danger p-l-14 p-r-14 m-r-2 btn btn-danger p-t-2 p-b-2">REQUEST SWAP</a>
                                }
                                else
                                {
                                    <a href="#" cl class="btn btn-danger p-l-14 p-r-14 m-r-2 btn btn-danger p-t-2 p-b-2">REQUEST SWAP</a>
                                }


                            }
                            else
                            {
                                <button type="button"  id="btnSignin" data-toggle="modal" data-target=".login-modal" class="p-l-14 p-r-14 m-r-2 btn btn-default p-t-2 p-b-2">SIGN IN</button>
                            }*@

                        @if (AppUser != null)
                        {
                            if (AppUser.Id != item.AppUserId)
                            {
                                <a href="@Url.Action("AddCounterOffer","CounterOffer",new { id = @item.OfferId})" class="btn btn-danger m-p">Lets SWAP</a>
                            }
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
                            
                            
                            
</div>
                </div>
            </div>
            <!-- END col-8 -->
        </div>
        <!-- END row -->
    </div>
    <!-- END container -->
</div>
<!-- Banner Slider END HERE -->

<!-- Alert Modal dailouge START HERE -->
<div class="modal fade success-popup" id="alert-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display:none;">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-sm vertical-align-center">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title" id="myModalLabel">Alert !</h4>
                </div>
                <div class="modal-body text-center p-20">
                    <p>@ViewData["Error"]</p>

                </div>
                <div class="modal-footer text-center">
                    <a onclick="hideAlertPopup();" class="btn btn-danger btn-md" data-dismiss="modal">OK</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Alert Modal dailouge END HERE -->

<!-- User detai dailouge START HERE -->
<div class="modal fade gamer-detail-modal" tabindex='-1'>
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">GAME OFFERER DETAILS</h4>
                </div>
                <form id="frmCreateOffer">
                    <div class="modal-body">
                        
                    </div>
                    <div class="row row-space-10">
                        <!-- BEGIN col-8 -->
                        <div class="col-md-12">
                            <!-- Left Main Game START here -->
                            <div class="col-md-5">
                                <div class="product-img p-t-30">

                                    <img id="gamerImageId" alt="" class="img-responsive img-res" />
                                </div>
                                <div class="profile-usertitle">
                                    <h4 id="gamerNickName" class="profile-game-title m-t-0"></h4>
                                </div>
                            </div>
                            <!-- Left Main Game END here -->
                            <!-- Mid Description START here -->
                            <div class="col-md-7">
                                <div>
                                    <h3 class="counter-desc-title m-t-0">Scorecard</h3>
                                    <div class="form-group p-t-10 p-b-5 m-b-0 p-l-0 p-r-0 border-bottom-1">
                                        
                                        
                                        <div class="border-bottom-1 p-5"><b>Proposals:</b> <span class="pull-right" id="gamer_detail_Proposal"></span></div>
                                        <div class="border-bottom-1 p-5"><b>No shows:</b> <span class="pull-right" id="gamer_detail_NoShows"></span></div>
                                        <div class="border-bottom-1 p-5"><b>Games sent:</b> <span class="pull-right" id="gamer_detail_GamesSent"></span></div>
                                        <div class="border-bottom-1 p-5"><b>Test Fails:</b> <span class="pull-right" id="gamer_detail_TestFails"></span></div>
                                        <div class="border-bottom-1 p-5"><b>Test Pass:</b> <span class="pull-right" id="gamer_detail_TestPass"></span></div>
                                        <div class="border-bottom-1 p-5"><b>DIBz:</b> <span class="pull-right" id="gamer_detail_Dibz"></span></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Mid Description END here -->
                        </div>
                        <!-- END col-8 -->
                    </div>
                </form>
                <div class="modal-footer">
                    <input type="button" name="cancel" data-dismiss="modal" class="btn btn-default btn-md" value="Close">
                </div>
            </div>


        </div>
    </div>
</div>
<!-- User details dailouge END HERE -->